<ion-header>

  <ion-navbar>
    <ion-searchbar (window:keydown)="onKey($event)" [animated]="true" [(ngModel)]="terms" placeholder="Trouvez votre artiste"></ion-searchbar>
  </ion-navbar>

</ion-header>

<ion-content padding class="test">
  <ion-list>
    <ion-item [@fadeInOut] *ngFor="let oeuvre of oeuvres | search : terms">
      <ion-thumbnail item-start>
        <img src={{oeuvre.image}}/>
      </ion-thumbnail>
      <h2 class="nomArtist">{{oeuvre.author}}</h2>
      <p (click)="goToDetail(oeuvre);" >{{oeuvre.title}}</p>
      <button ion-button clear item-end (click)="gotToDetailOeuvre(oeuvre);">En savoir plus</button>
    </ion-item>
  </ion-list>
  <div *ngIf="(oeuvres | search: terms).length === 0" class="emptyState">
    <ion-card>
      <ion-card-header>
        <ion-row>
          <ion-icon class="larger" name="sad"></ion-icon>
        </ion-row>
        <ion-row>
          Oops !
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        Vous êtes sur que cet artiste fait parti de l'exposition ?
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
