<ion-header>

  <ion-navbar>
    <ion-title>plans</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <img src="./assets/imgs/floor-plan-graphic-example.gif" alt="two dots test" width="313" height="285" usemap="#dots" />
    <map name="dots" id="dots">
          <area alt="" title="" (click)="goToDetail(oeuvres[0]); vibrate()" shape="circle" coords="86,75,50" />
          <area alt="" title="" (click)="goToDetail(oeuvres[1]); vibrate()" shape="circle" coords="51,229,50" />
          <area alt="" title="" (click)="goToDetail(oeuvres[2]); vibrate()" shape="circle" coords="156,230,50" />
          <area alt="" title="" (click)="goToDetail(oeuvres[3]); vibrate()" shape="circle" coords="266,180,50" />
    </map>
    <!-- Accordion menu yet unused.
    <ion-item-group *ngFor="let group of groups" >
      <ion-item-divider color="light" (click)="toggleGroup(group)">
        Etage {{group.id}}
        <ion-icon item-left name="add"></ion-icon>
      </ion-item-divider>
      <ion-item *ngFor="let item of group.items" [@expand]="group.active">{{item}}</ion-item>
    </ion-item-group>-->

</ion-content>
